@charset "utf-8";
@import 'reset';
@import 'fonts';
@import 'settings';
@import 'jquery-ui';
@import 'jquery.editable-select';
@import 'jquery.jscrollpane';
@import 'slick';
@import 'animate';

html.html-modal-long {
	height: auto !important;
}
html.html-modal {
	height: 100% !important;
	width: 100%;
	overflow: hidden;
}
body {
	font-family: $font-main;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.27;
	color: $color-text;
	text-align: left;
	width: 100%;
	height: 100%;

	@media (max-width: $adaptive-width-mobile) {
		font-size: 16px;
	}
}
a {
	color: $color-text-links;
    @extend .transition-color;
    &:hover {
        color: darken($color-text-links, 15%);
        @extend .transition-color;
    }
}
h1,
.h1{
	font-family: $font-headers;
	color: $color-text-headers;	
	font-size: 48px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 45px;
	cursor: default;

	@media (max-width: $adaptive-width-mobile) {
		font-size: 30px;
	}
}
h2,
.h2{
	font-family: $font-headers;
	color: $color-text-headers;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.3;
	margin-bottom: 24px;
	cursor: default;

	@media (max-width: $adaptive-width-mobile) {
		font-size: 18px;
		margin-bottom: 15px;
	}
}
h3,
.h3{
	font-family: $font-headers;
	color: $color-text-headers;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.13;
	margin-bottom: 26px;
	cursor: default;

	@media (max-width: $adaptive-width-mobile) {
		font-size: 30px;
		margin-bottom: 22px;
	}
}
h4,
.h4{
	font-family: $font-headers;
	color: $color-text-headers;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 15px;
	cursor: default;
}
h5,
.h5{
	font-family: $font-headers;
	color: $color-text-headers;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
	cursor: default;
}
h6,
.h6{
	font-family: $font-headers;
	color: $color-text-headers;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
	cursor: default;
}
p{
	margin-bottom: 25px;

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 18px;
	}

	&.nb {
		margin-bottom: 47px;

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 25px;
		}
	}
}
.nb {
	font-weight: 500;
	padding-left: 31px;
}
ol, ul{
	list-style: none;
}
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'] {
	font-family: $font-main;
	font-size: 18px;
	line-height: 1;
	padding: 21px 18px;
	box-sizing: border-box;
	border: 1px solid #DFE5EF;
	background: #fff;
	color: #303C48;
	@include radius(4px);

	&::-webkit-input-placeholder { color: #B1B1B1; }
	&::-moz-placeholder { color: #B1B1B1; }
	&:-moz-placeholder { color: #B1B1B1; }
	&:-ms-input-placeholder { color: #B1B1B1; }

	@media (max-width: $adaptive-width-mobile) {
		font-size: 16px;
		height: 47px;
	}

	&:invalid {
		border: 0;
		box-shadow: inset 0px 0px 4px rgba(255, 42, 45, 1) !important;
	}
}

.input-holder {
	position: relative;

	input[type='text'],
	input[type='tel'],
	input[type='email'],
	input[type='password'],
	input[type='number'] {
		width: 100%;
		padding: 11px 15px;
		@extend .transition-padding-top;
	}

	.ui-selectmenu-button {
		width: 100%;
	}

	.es {
		width: 100%;
	}

	i {
		overflow: hidden;
		position: absolute;
		color: #a6a6a6;
		cursor: default;
		top: 3px;
		left: 15px;
		font-size: 12px;
		line-height: 1;
		opacity: 0;
		@extend .transition-all;					
	}

	&.focused {
		i {
			opacity: 1;
			@extend .transition-all;
		}

		input[type='text'],
		input[type='tel'],
		input[type='email'],
		input[type='password'],
		input[type='number'] {
			padding-top: 16px;
			@extend .transition-padding-top;
		}
	}
}

textarea {
	font-family: $font-main;
	font-size: 18px;
	line-height: 1.39;
	height: 84px;
	padding: 21px 18px 14px;
	box-sizing: border-box;
	border: 1px solid #DFE5EF;
	background: #fff;
	color: #303C48;
	overflow: auto;
	@include radius(3px);

	&::-webkit-input-placeholder { color: #9E9E9E; }
	&::-moz-placeholder { color: #9E9E9E; }
	&:-moz-placeholder { color: #9E9E9E; }
	&:-ms-input-placeholder { color: #9E9E9E; }

	&.complete {
		background-color: #fff;
		height: 83px;
		border: 0;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
		padding: 12px 14px;
		@include radius(3px);
	}

	&.js-autoheight {
		resize: none;
		overflow: hidden;
	}

	@media (max-width: $adaptive-width-mobile) {
		font-size: 16px;
		height: 104px;
	}
}

input.date {
	padding-right: 38px;

	& + i {
		display: inline-block;
		vertical-align: middle;
		width: 17px;
		height: 16px;
		background-image: url('../../images/ico_calendar.svg');
		margin: 0 0 0 -32px;
		cursor: pointer;

		@media (max-width: $adaptive-width-mobile) {
			margin: -12px 0 0 -28px;
		}
	}
}

.ui-datepicker {
	width: 250px;
	padding: 0 0 10px;
	@include radius(3px);

	.ui-datepicker-header {
		background-color: $background-color-blue;
		font-size: 12px;
		margin: 0;
		color: #fff;
		padding: 12px 0 28px;
		@include radius-t(3px);

		.ui-datepicker-title {
			margin: 0;

			select {
				height: 29px;
				width: 106px;
			}
		}
	}

	.ui-datepicker-prev {
		display: none;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
		border-width: 5px;
		border-right-color: #fff;
		left: 7px;
		top: 18px;
		cursor: pointer;
	}

	.ui-datepicker-next {
		display: none;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
		border-width: 5px;
		border-left-color: #fff;
		right: 7px;
		top: 18px;
		cursor: pointer;
	}

	table {
		width: 236px;
		margin: -26px 7px 0;

		thead {
			tr {
				th {
					font-size: 10px;
					text-transform: none;
					color: #fff;
					padding-bottom: 8px;
				}
			}
		}

		tbody {
			tr {
				td {
					font-size: 14px;
					padding: 0;
					border: 0;
					color: #4A4A4A;

					&:hover {
						a {
							border-color: $background-color-blue;
						}
					}

					&.ui-datepicker-current-day {
						a {
							background-color: $background-color-blue;
							border-color: $background-color-blue;
							color: #fff;
						}
					}

					&.ui-state-disabled {
						color: #CED1D2;
					}

					a {
						color: #4A4A4A;
						padding: 6px;
						@include radius(20px);
					}
				}
			}
		}
	}
}
select {
	&.complete {
		& + .ui-selectmenu-button {
			background-color: #fff;
			height: 49px;
			border: 0;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
			padding: 12px 14px;
			@include radius(3px);

			@media (max-width: $adaptive-width-mobile) {
				height: 40px;
				padding-top: 10px;
			}
		}
	}
}
.ui-selectmenu-menu {
	max-width: 370px;

	@media (max-width: $adaptive-width-mobile) {
		max-width: 100%;
	}

	& > .ui-menu {
		max-height: 400px;
	}
}
.cbs-lines {
	.line {
		margin-bottom: 15px;
	}
}
.jspHorizontalBar {
	display: none;
}
.ui-slider-horizontal {
	height: 7px;
	border: 1px solid #d7d7d7;
	@include radius(7px);
	cursor: pointer;

	.ui-slider-range-min {
		height: 5px;
		background-color: darken(#d7d7d7, 3%);
		@include radius(7px);
	}

	.ui-slider-handle {
		background-color: $background-color-blue;
		width: 32px;
		height: 32px;
		@include radius(32px);
		margin-left: -16px;
		top: -14px;
		cursor: pointer;
		text-align: center;
		color: #fff;
		padding-top: 3px;
		@extend .transition-bg;

		&:hover {
			background-color: darken($background-color-blue, 6%);
			@extend .transition-bg;			
		}
	}

	.min-label {
		position: absolute;
		top: 15px;
		left: 0;
		font-size: 16px;
	}

	.max-label {
		position: absolute;
		top: 15px;
		right: 0;
		font-size: 16px;
	}
}
.file-upload {
	position: relative;
    overflow: hidden;
    height: 35px;
    margin-bottom: 35px;

    input {
    	position: absolute;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 20px;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
    }

    .btn {
    	display: inline-block;
    	vertical-align: middle;
    	height: 35px;
    	padding: 5px 21px;
    	font-size: 14px;
    	font-weight: 400;
    	text-transform: none;
    	cursor: pointer;
    	border: 0;
    	@include radius(4px);
    }

    .label {
    	display: none;
    	vertical-align: middle;
    	margin-left: 12px;
    	color: #333;
    	font-size: 16px; 
    }
}
.form {
	display: block;
}
table{
	border-collapse: collapse;
	border: 0;
}
th{
	text-align: left;
	font-weight: 400;
	border: 0; 
}
td{
	text-align: left;
	border: 0;
}

body {
	display: flex;
	min-height: 100vh;
	height: auto;
	flex-direction: column;
}

#layout {
	flex: 1;
	background: $background-color-lightblue;
	overflow-x: hidden;

	&.js-modal-overflow {
		overflow: hidden;
		position: relative;
		@include flex-cancel();

		& + footer {
			display: none;
		}
	}
}

header {
	height: 60px;
	margin-bottom: 90px;
	position: relative;
	z-index: 1;

	&.colored {
		color: #fff;
		margin-bottom: 40px;

		a {
			color: #fff;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: -238px;
			left: -214px;
			z-index: 0;
			width: 382px;
			height: 382px;
			background-color: #fff;
			@include radius(382px);

			@media (max-width: $adaptive-width-desktop-middle) {
				width: 360px;
				height: 360px;
			}

			@media (max-width: $adaptive-width-mobile) {
				width: 250px;
				height: 250px;
				top: -170px;
				left: -160px;
			}
		}
	}

	#logo {
		position: absolute;
		top: 21px;
		left: 32px;
		z-index: 1;
		opacity: 1;
		@extend .transition-opacity;

		@media (max-width: $adaptive-width-desktop-middle) {
			top: 16px;
			left: 22px;
		}

		@media (max-width: $adaptive-width-mobile) {
			top: 14px;
			left: 17px;
		}

		&:hover {
			opacity: 0.85;
			@extend .transition-opacity;
		}

		& > img {
			width: 65px;

			@media (max-width: $adaptive-width-mobile) {
				width: 34px;
			}
		}
	}

	#mn-main {
		position: absolute;
		top: 22px;
		left: 0;

		@media (max-width: $adaptive-width-tablet) {
			display: none;			
		}

		& > ul {
			display: block;

			& > li {
				display: inline-block;
				font-size: 12px;
				text-transform: uppercase;

				&:first-child {
					margin-left: -17px;

					@media (max-width: $adaptive-width-desktop-middle) {
						margin-left: 50px;
					}

					@media (max-width: $adaptive-width-desktop-small) {
						margin-left: 57px;
					}
				}

				&:last-child {
					@media (max-width: $adaptive-width-desktop-small) {
						display: none;
					}
				}

				& > a {
					display: block;
					padding: 20px 17px;
					text-decoration: none;
					opacity: 1;
					@extend .transition-opacity;

					@media (max-width: $adaptive-width-desktop-middle) {
						padding: 20px 8px;
					}

					&:hover {
						opacity: 0.85;
						@extend .transition-opacity;
					}
				}
			}
		}
	}

	#mn-languages {
		position: absolute;
		top: 22px;
		right: 312px;

		@media (max-width: $adaptive-width-tablet) {
			right: 190px;
		}

		@media (max-width: $adaptive-width-mobile) {
			top: 7px;
			right: 165px;
		}

		& > ul {
			display: block;
			cursor: default;

			& > li {
				display: inline-block;
				font-size: 12px;
				text-transform: uppercase;

				&:first-child {
					margin-left: -3px;
				}

				& > a {
					display: block;
					padding: 20px 3px;
					text-decoration: none;
					opacity: 1;
					@extend .transition-opacity;

					&:hover {
						opacity: 0.85;
						@extend .transition-opacity;
					}
				}

				& > span {
					display: block;
					padding: 20px 3px;
					font-weight: 700;
					cursor: default;
				}
			}
		}
	}

	#buttons {
		position: absolute;
		top: 28px;
		right: 0;

		@media (max-width: $adaptive-width-mobile) {
			top: 14px;
		}

		& > .btn {
			font-size: 12px;
			font-weight: 400;
			height: 42px;
			padding: 0; 
			margin-left: 14px;

			& > a {
				display: block;
				padding: 8px 23px;

				@media (max-width: $adaptive-width-mobile) {
					padding: 2px 17px;
				}
			}

			&.account {
				@media (max-width: $adaptive-width-tablet) {
					display: none;
				}

				& > a {
					&:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						background: url('../images/ico_lock.svg');
						width: 10px;
						height: 14px;
						margin: -6px 8px 0 0;
					}
				}

				&:hover {
					& > a {
						&:before {
							background: url('../images/ico_lock_blue.svg');
						}
					}
				}
			}
		}
	}
}

#welcome {
	background: $background-color-blue url('../images/bg_waves.jpg') no-repeat center bottom;
	background-size: 100% auto;
	color: #fff;
	padding: 131px 0 330px;
	margin: -100px 0 0;

	@media (max-width: $adaptive-width-desktop-small) {
		background-size: auto;
		padding-bottom: 320px;
	}

	@media (max-width: $adaptive-width-mobile) {
		text-align: center;
		padding-bottom: 300px;
		margin-top: -120px;
	}

	& > .holder {
		position: relative;

		@media (max-width: $adaptive-width-mobile) {
			padding: 0 5.625%;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			right: $padding-edges;
			margin-right: -72px;
			width: 621px;
			height: 575px;
			background: url('../images/iphone.png') no-repeat;
			background-size: contain;

			@media (max-width: $adaptive-width-desktop-small) {
				display: none;
			}

			@media (max-width: $adaptive-width-mobile) {
				display: block;
				width: 320px;
				height: 320px;
				top: 163px;
				right: 50%;
				margin-right: -160px;
			}

			@media (max-width: 337px) {
				top: 203px;
			}
		}
	}

	h1,
	.h1 {
		color: #fff;
		font-size: 58px;
		font-weight: 700;
		line-height: 0.7;
		margin-bottom: 60px;

		@media (max-width: $adaptive-width-tablet) {
			font-size: 46px;
			line-height: .95;
		}

		@media (max-width: $adaptive-width-mobile) {
			font-size: 36px;
			line-height: 1.03;
			margin-bottom: 366px;
		}

		& > span {
			font-size: 34px;
			font-weight: 500;

			@media (max-width: $adaptive-width-mobile) {
				display: inline-block;
				font-size: 22px;
				line-height: 1.25;
				padding-top: 10px;
			}
		}
	}

	ul {
		display: block;
		margin-bottom: 58px;

		@media (max-width: $adaptive-width-mobile) {
			margin-left: 10px;
			text-align: left;
		}

		& > li {
			display: block;
			position: relative;
			font-size: 22px;
			font-weight: 500;
			padding-left: 57px;
			margin-bottom: 24px;
			z-index: 1;

			@media (max-width: $adaptive-width-mobile) {
				font-size: 17px;
				line-height: 1.2;
				padding-left: 47px;
				margin-bottom: 20px;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 30px;
				height: 31px;
				background: url('../images/ico_v.svg') no-repeat;

				@media (max-width: $adaptive-width-mobile) {
					top: -5px;
				}
			}

			strong {
				font-weight: 700;
			}

			.dotted {
				color: #fff;
				font-weight: 700;
				text-decoration: none;
				border-width: 3px;
				opacity: 1;
				@extend .transition-opacity;

				@media (max-width: $adaptive-width-mobile) {
					border-width: 2px;
				}

				&:hover {
					opacity: 0.85;
					@extend .transition-opacity;
				}
			}

			.cashback {
				position: relative;
				margin: 0 7px;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: -5px;
					left: -16px;
					background: url('../images/brush_cashback.png') no-repeat;
					background-size: cover;
					width: 112px;
					height: 49px;
					z-index: -1;

					@media (max-width: $adaptive-width-mobile) {
						width: 83px;
						height: 30px;
						left: -12px;
					}
				}

				& > strong,
				& > a {
					position: relative;
					z-index: 1;
				}

				&.en {
					&:before {
						top: -8px; 
						width: 128px;
						height: 50px;
					}
				}
			}
		}
	}

	.app-btns {
		& > a {
			margin-right: 14px;
			opacity: 1;
			@extend .transition-opacity;

			@media (max-width: $adaptive-width-mobile) {
				display: block;
				margin-right: 0;
			}

			&:hover {
				opacity: 0.95;
				@extend .transition-opacity;
			}

			img {
				@media (max-width: $adaptive-width-mobile) {
					width: 193px;
					margin-bottom: 13px;
				}
			}		
		}
	}

	.hint {
		font-size: 12px;
		font-weight: 500;
		margin-top: 47px;
		cursor: default;
		opacity: 0.44;
		@extend .transition-opacity;

		@media (max-width: $adaptive-width-mobile) {
			margin-top: 24px;
		}

		&.vis {
			opacity: 0.6;
			@extend .transition-opacity;
		}
	}
}
#bl-features {
	text-align: center;
	margin: -100px 0 110px;

	@media (max-width: $adaptive-width-tablet) {
		margin-top: -140px;
		margin-bottom: 77px;
	}

	ul {
		max-width: 645px;
		display: block;
		margin: 0 auto;

		& > li {
			display: block;
			margin-bottom: 65px;

			@media (max-width: $adaptive-width-mobile) {
				margin-bottom: 35px;
			}

			icon {
				display: flex;
				width: 110px;
				height: 110px;
				align-items: center;
				justify-content: center;
				background-color: $background-color-pink;
				@include radius(110px);
				margin: 0 auto 28px;

				@media (max-width: $adaptive-width-tablet) {
					margin-bottom: 18px;
				}

				@media (max-width: $adaptive-width-mobile) {
					width: 90px;
					height: 90px;
					margin-bottom: 12px;

					img {
						max-width: 48px;
						max-height: 48px;
					}
				}
			}

			.query {
				font-size: 20px;
				line-height: 1.25;
				margin-bottom: 19px;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 16px;
				}
			}

			.decision {
				font-size: 24px;
				font-weight: 700;
				line-height: 1.13;
				color: $color-text-headers;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 18px;
				}
			}
		}
	}
}

#bl-benefits {
	text-align: center;
	margin-bottom: 110px;

	@media (max-width: $adaptive-width-tablet) {
		margin-bottom: 62px;
	}

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 45px;
	}

	h1,
	.h1 {
		margin-bottom: 41px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;

		& > li {
			display: inline-block;
			width: 48%;
			flex-basis: 48%;
			color: #4A555F;
			font-size: 20px;
			line-height: 1.35;
			background-color: #fff;
			padding: 48px 45px 59px;
			@include radius(16px);
			box-shadow: 0px 4px 15px rgba(59, 104, 114, 0.08);
			margin: 0 0 25px 2.5%;

			@media (max-width: $adaptive-width-tablet-middle) {
				width: 100%;
				flex-basis: 100%;
				margin: 0 0 25px;
			}

			@media (max-width: $adaptive-width-mobile) {
				padding: 25px; 
				font-size: 15px;
				margin-bottom: 12px;
			}

			&:nth-child(2n-1) {
				margin-left: 0;
			}

			h3,
			.h3 {
				font-size: 36px;
				font-weight: 800;
				text-transform: uppercase;
				position: relative;
				margin-bottom: 42px;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 21px;
					margin-bottom: 25px;
				}

				& > span {
					color: #fff;
					position: relative;
					z-index: 1;
				}

				&.b1 {
					&:before {
						content: '';
						position: absolute;
						top: -12px;
						left: 50%;
						margin-left: -114px;
						z-index: 0;
						display: block;
						width: 219px;
						height: 74px;
						background: url('../images/brush1.png') no-repeat;
						background-size: cover;

						@media (max-width: $adaptive-width-mobile) {
							width: 127px;
							background-size: contain;
							top: -6px;
							margin-left: -63px;
						}
					}					
				}

				&.b2 {
					&:before {
						content: '';
						position: absolute;
						top: -15px;
						left: 50%;
						margin-left: -118px;
						z-index: 0;
						display: block;
						width: 234px;
						height: 63px;
						background: url('../images/brush2.png') no-repeat;
						background-size: cover;

						@media (max-width: $adaptive-width-mobile) {
							width: 138px;
							background-size: contain;
							top: -10px;
							margin-left: -66px;
						}
					}					
				}

				&.b3 {
					&:before {
						content: '';
						position: absolute;
						top: -15px;
						left: 50%;
						margin-left: -98px;
						z-index: 0;
						display: block;
						width: 196px;
						height: 62.5px;
						background: url('../images/brush3.png') no-repeat;
						background-size: cover;

						@media (max-width: $adaptive-width-mobile) {
							width: 115px;
							background-size: contain;
							top: -10px;
							margin-left: -57px;
						}
					}					
				}

				&.b4 {
					&:before {
						content: '';
						position: absolute;
						top: -12px;
						left: 50%;
						margin-left: -135px;
						z-index: 0;
						display: block;
						width: 269px;
						height: 72px;
						background: url('../images/brush4.png') no-repeat;
						background-size: cover;

						@media (max-width: $adaptive-width-mobile) {
							width: 157px;
							background-size: contain;
							top: -8px;
							margin-left: -77px;
						}
					}

					&.en {
						&:before {
							top: -12px;
							margin-left: -175px;
							width: 350px;
							background-size: 100% 100%;
						}
					}				
				}
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}

.section {
	padding: 391px 0 115px;
	margin-top: -441px;

	@media (max-width: $adaptive-width-tablet) {
		margin-top: -260px;
		padding-top: 250px;
	}

	&.blue {
		background: $background-color-darkblue url('../images/bg_waves1.jpg') no-repeat center top;
		background-size: 100% auto;
		color: #fff;

		h1,
		.h1,
		h2,
		.h2,
		h3,
		.h3,
		h4,
		.h4,
		h5,
		.h5,
		h6,
		.h6 {
			color: #fff;
		}

		&.scd {
			background-image: url('../images/bg_waves5.jpg');
			padding-top: 168px;
			margin-top: -270px;

			@media (max-width: $adaptive-width-tablet) {
				padding-bottom: 50px;
			}
		}

		& + .white {
			background-image: url('../images/bg_waves6.jpg');
			padding-top: 165px;
			margin-top: -20px;

			@media (max-width: $adaptive-width-tablet) {
				padding-top: 108px;
			}
		}
	}

	&.lightblue {
		background: $background-color-lightblue url('../images/bg_waves2.jpg') no-repeat center top;
		background-size: 100% auto;
		padding-top: 191px;
		margin-top: -70px;

		@media (max-width: $adaptive-width-tablet) {
			padding-top: 130px;
		}

		@media (max-width: $adaptive-width-mobile) {
			padding-top: 80px;
		}
	}

	&.white {
		background: #fff url('../images/bg_waves3.jpg') no-repeat center top;
		background-size: 100% auto;
		padding-top: 160px;
		margin-top: -70px;

		@media (max-width: $adaptive-width-tablet) {
			padding-top: 100px;
		}

		@media (max-width: $adaptive-width-mobile) {
			padding-top: 77px;
		}

		& + .lightblue {
			background-image: url('../images/bg_waves4.jpg');
			padding-top: 195px;
			margin-top: -120px;

			@media (max-width: $adaptive-width-tablet) {
				padding-top: 130px;
			}

			@media (max-width: $adaptive-width-mobile) {
				padding-top: 65px;
			}
		}
	}
}

#bl-cashback {
	text-align: center;
	margin-bottom: 60px;

	.text {
		font-size: 22px;
		line-height: 1.27;
		margin: -15px 0 56px;

		@media (max-width: $adaptive-width-mobile) {
			font-size: 18px;
			margin-bottom: 38px;
		}

		& > p {
			margin-bottom: 0;
		}
	}

	ul {
		display: block;
		font-size: 0;
		margin-bottom: 60px;

		& > li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 20%;
			padding: 0 22px;
			font-size: 17px;
			line-height: 1.235;

			@media (max-width: $adaptive-width-tablet-middle) {
				display: block;
				width: auto;
				max-width: 480px;
				margin: 0 auto 48px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 58px;
				left: -22px;
				display: block;
				width: 42px;
				height: 8px;
				background: url('../images/arr_right_blue.svg') no-repeat right center;

				@media (max-width: $adaptive-width-tablet) {
					left: -18px;
					width: 30px;
				}

				@media (max-width: $adaptive-width-tablet-middle) {
					display: none;
				}
			}

			&:first-child {
				&:before {
					display: none;
				}
			}

			&:nth-child(2) {
				padding: 0;
			}

			icon {
				display: flex;
				background: #fff;
				width: 126px;
				height: 126px;
				justify-content: center;
				align-items: center;
				@include radius(126px);
				margin: 0 auto 17px;
			}

			p {
				margin: 0;

				&.note {
					font-size: 14px;
					opacity: 0.5;
					margin-top: 9px;
				}
			}
		}
	}

	.hint {
		font-size: 12px;
		font-weight: 500;
		margin: -27px 0 60px;
		cursor: default;
		opacity: 0.44;
		@extend .transition-opacity;

		&.vis {
			opacity: 0.6;
			@extend .transition-opacity;
		}

		a {
			color: #fff;
		}
	}

	h2,
	.h2 {
		@media (max-width: $adaptive-width-mobile) {
			font-size: 24px;
		}
	}
}
#cashback-calculator {
	background: #fff;
	max-width: 406px;
	@include radius(10px);
	margin: 0 auto 105px;

	@media (max-width: $adaptive-width-tablet) {
		margin-bottom: 69px;
	}

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 60px;
	}

	& + .hint {
		margin-top: -60px;
	}

	.sect {
		color: #4A555F;
		position: relative;
		padding: 29px 41px 34px;

		@media (max-width: $adaptive-width-mobile) {
			padding: 26px 14px;
		}

		&:before {
			content: '';
			display: none;
			position: absolute;
			top: -23px;
			left: 50%;
			margin-left: -23px;
			width: 46px;
			height: 46px;
			background: url('../images/arr_bottom_white.svg') no-repeat center;
			@include radius(46px);
		}

		&.white {
			text-align: left;

			.label {
				margin-bottom: 23px;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 12px;
				}
			}

			.value {
				position: absolute;
				top: 27px;
				right: 41px;
				font-size: 18px;
				font-weight: 500;
				color: $background-color-darkblue;

				@media (max-width: $adaptive-width-mobile) {
					right: 14px;
					font-size: 14px;
				}
			}

			.scale {
				margin-bottom: 27px;

				&.ui-slider-horizontal {
					background-color: #d6e2ec;
					height: 3px; 
					border: 0;
				}

				.ui-slider-handle {
					width: 27px;
					height: 27px;
					background-color: #2EBBE1;

					&:hover {
						background-color: lighten(#2EBBE1, 5%);						
					}
				}

				.ui-slider-range {
					height: 3px;
					background-color: #2EBBE1;	
				}
			}
		}

		&.pink {
			color: #fff;
			background-color: $background-color-pink;

			&:before {
				display: block;
				background-color: $background-color-pink;
			}
		}

		&.blue {
			color: #fff;
			background-color: $background-color-blue;
			@include radius-b(10px);

			&:before {
				display: block;
				background-color: $background-color-blue;
			}
		}

		.label {
			font-size: 15px;
		}

		.value {
			font-size: 34px;
			font-weight: 500;

			@media (max-width: $adaptive-width-mobile) {
				font-size: 26px;
			}
		}
	}
}

#bl-demo {
	text-align: center;

	h1,
	.h1 {
		margin-bottom: 64px;
	}

	ul {
		display: block;

		& > li {
			display: flex;
			align-items: center;
			text-align: left;
			margin-bottom: 56px;

			@media (max-width: $adaptive-width-tablet-middle) {
				flex-direction: column;
			}

			@media (max-width: $adaptive-width-mobile) {
				margin-bottom: 49px;
			}

			&:last-child {
				margin-bottom: 15px;
			}

			.screen {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				margin-left: 84px;

				@media (max-width: $adaptive-width-tablet-middle) {
					margin-left: 0;
					margin-bottom: 35px;
				}

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 464px;
					height: 464px;
					margin: -232px 0 0 -232px;
					background: #2EBBE1;
					opacity: 0.1;
					@include radius(464px);

					@media (max-width: $adaptive-width-tablet-middle) {
						width: 300px;
						height: 300px;
						margin: -150px 0 0 -150px;
					}
				}

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 252px;
					height: 252px;
					margin: -126px 0 0 -126px;
					background: #2EBBE1;
					@include radius(252px);

					@media (max-width: $adaptive-width-tablet-middle) {
						width: 162px;
						height: 162px;
						margin: -81px 0 0 -81px;
					}
				}

				& > img {
					position: relative;
					height: 334px;
					z-index: 2;

					@media (max-width: $adaptive-width-tablet-middle) {
						height: 254px;
					}
				}
			}

			.info {
				display: inline-block;
				vertical-align: middle;
				max-width: 366px;
				font-size: 22px;
				line-height: 1.25;
				margin-left: 228px;

				@media (max-width: $adaptive-width-tablet-middle) {
					display: block;
					text-align: center;
					margin-left: 0;
				}

				@media (max-width: $adaptive-width-mobile) {
					font-size: 20px;
				}

				p {
					margin-bottom: 29px;
				}

				img {
					@media (max-width: $adaptive-width-tablet-middle) {
						display: none;
					}
				}

				.icons {
					@media (max-width: $adaptive-width-tablet-middle) {
						display: none;
					}
				}
			}

			&.even {
				flex-direction: row-reverse;

				@media (max-width: $adaptive-width-tablet-middle) {
					flex-direction: column;
				}

				.screen {
					margin-left: 0;
					margin-right: 51px;

					@media (max-width: $adaptive-width-tablet-middle) {
						margin-right: 0;
					}

					&:before {
						width: 408px;
						height: 408px;
						margin: -204px 0 0 -204px;
						background: #fff;
						opacity: 0.04;

						@media (max-width: $adaptive-width-tablet-middle) {
							width: 300px;
							height: 300px;
							margin: -150px 0 0 -150px;
						}
					}

					&:after {
						width: 226px;
						height: 226px;
						margin: -113px 0 0 -113px;
						background: #E74386;

						@media (max-width: $adaptive-width-tablet-middle) {
							width: 162px;
							height: 162px;
							margin: -81px 0 0 -81px;
						}
					}
				}

				.info {
					margin-left: 0;
					margin-right: 156px;

					@media (max-width: $adaptive-width-tablet-middle) {
						margin: 0;
					}
				}
			}

			&.screen1 {
				.info {
					img {
						margin-left: -42px;
					}
				}
			}

			&.screen2 {
				.info {
					.icons {
						icon {
							display: inline-block;
							vertical-align: middle;
							width: 49px;
							height: 49px;
							text-align: center;
							@include radius(49px);
							margin-left: 20px;

							&:first-child {
								margin-left: 0;
							}
						}

						.hang-off {							 
							background-color: #E71616;
							padding-top: 8px;						
						}

						.hang-on {							 
							background-color: #11BE56;
							padding-top: 12px;						
						}

						.close {
							border: 1px solid #fff;
							padding-top: 12px;
							width: 48px;
							height: 48px;
						}
					}
				}
			}

			&.screen3 {
				.info {
					.icons {
						icon {
							display: inline-block;
							vertical-align: middle;
							width: 71px;
							height: 71px;
							text-align: center;
							@include radius(71px);
							margin-left: 14px;

							&:first-child {
								margin-left: 0;
							}
						}

						.visible {
							background: #fff;
							padding-top: 25px;
						}

						.incognito {
							background: #2EBBE1;
							padding-top: 19px;
						}
					}
				}
			}

			&.screen4 {
				.info {
					p {
						margin-bottom: 2px;
					}

					img {
						margin-left: -32px;
					}
				}
			}

			&.screen5 {
				.info {
					max-width: 427px;

					.icons {
						icon {
							display: inline-block;
							vertical-align: middle;							
							margin-left: 27px;

							&:first-child {
								margin-left: 0;
							}

							&.smile {
								margin-left: 19px;
							}

							& > img {
								width: 64px;
							}
						}
					}
				}
			}
		}
	}
}

#bl-how-it-works {
	text-align: center;
	margin-bottom: 71px;

	@media (max-width: $adaptive-width-tablet) {
		margin-bottom: 30px;
	}

	.tabs {
		margin: -28px 0 22px;

		@media (max-width: $adaptive-width-mobile) {
			margin-top: 0;
		}

		& > ul {
			display: block;
			overflow: hidden;
			font-size: 0;

			& > li {
				display: inline-block;
				font-size: 15px;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 12px;
				}

				& > a {
					display: block;
					padding: 9px 33px;
					color: #004A87;
					text-decoration: none;
					border: 1px solid #afcadd;

					@media (max-width: $adaptive-width-mobile) {
						padding: 5px 12px;
					}

					&:hover {
						color: lighten(#004A87, 5%);
					}

					&.tab-act {
						cursor: default;
						background-color: $background-color-darkblue;
						border-color: $background-color-darkblue;
						color: #fff;
					}
				}

				&:first-child {
					& > a {
						@include radius-l(20px);
					}
				}

				&:last-child {
					& > a {
						@include radius-r(20px);
					}
				}

				& + li {
					margin-left: -1px;
				}
			}
		}
	}

	.note {
		font-size: 14px;
		font-style: italic;
		color: #4A555F;
		margin-bottom: 38px;

		@media (max-width: $adaptive-width-mobile) {
			padding: 0 10%;
		}

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 13px;
			height: 14px;
			background: url('../images/ico_star.svg') no-repeat;
			margin: -8px 6px 0 0;

			@media (max-width: $adaptive-width-mobile) {
				display: block;
				margin: 0 auto 10px;
			}
		}
	}

	#without-sim {
		padding-top: 54px;
	}

	.steps {
		display: block;
		font-size: 0;
		margin-bottom: 70px;

		& > li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 20%;
			font-size: 17px;
			line-height: 1.235;
			color: #4A555F;

			@media (max-width: $adaptive-width-tablet-middle) {
				display: block;
				width: auto;
				margin-bottom: 30px;
			}

			@media (max-width: $adaptive-width-mobile) {
				&:nth-child(3) {
					& > icon {
						img {
							max-width: 47px;
							max-height: 43px;
						}
					}
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 58px;
				left: -22px;
				display: block;
				width: 42px;
				height: 8px;
				background: url('../images/arr_right_blue.svg') no-repeat right center;

				@media (max-width: $adaptive-width-tablet) {
					width: 30px;
					left: -18px;
				}

				@media (max-width: $adaptive-width-tablet-middle) {
					display: none;
				}
			}

			&:first-child {
				&:before {
					display: none;
				}
			}

			& > icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 126px;
				height: 126px;
				background-color: #fff;
				@include radius(126px);
				@include box-shadow(0px, 4px, 15px, rgba(59, 104, 114, 0.08));
				margin: 0 auto 17px;

				@media (max-width: $adaptive-width-mobile) {
					width: 90px;
					height: 90px;
					margin-bottom: 16px;

					img {
						max-width: 54px;
						max-height: 54px;
					}
				}
			}

			& > p {
				width: 165px;
				margin: 0 auto;

				@media (max-width: $adaptive-width-tablet-middle) {
					width: auto;
					max-width: 500px;
				}
			}

			&.last-child {
				& > p {
					width: auto;
				}	
			}
		}
	}

	h2,
	.h2 {
		@media (max-width: $adaptive-width-mobile) {
			font-size: 24px;
			line-height: 1;
			margin-bottom: 23px;
		}
	}

	.text {
		max-width: 606px;
		margin: -10px auto 45px;

		@media (max-width: $adaptive-width-mobile) {
			font-size: 20px;
		}
	}

	.app-btns {
		& > a {
			margin-right: 14px;
			opacity: 1;
			@extend .transition-opacity;

			@media (max-width: $adaptive-width-mobile) {
				display: block;
				margin: 0 0 12px;
			}

			&:hover {
				opacity: 0.95;
				@extend .transition-opacity;
			}

			img {
				@media (max-width: $adaptive-width-mobile) {
					width: 193px;
				}
			}		
		}
	}
}
.bl-tariffs {
	text-align: center;
	margin-bottom: 31px;

	h1,
	.h1 {
		margin-bottom: 40px;

		@media (max-width: $adaptive-width-mobile) {
			font-size: 33px;
			line-height: 1;
		}
	}

	.countries {
		max-width: 901px;
		margin: 0 auto 59px;

		@media (max-width: $adaptive-width-mobile) {
			width: 100%;
		}

		tr {
			td {
				font-size: 14px;
				line-height: 1.5;
				padding: 20px 25px;
				color: #29343D;
				border: 1px solid #B9D7E7;

				@media (max-width: $adaptive-width-tablet) {
					font-size: 12px;
					line-height: 1.7;
					padding: 20px 17px 15px;
				}
			}

			&.flags {
				td {
					font-size: 22px;
					font-weight: 500;
					color: #000;
					text-align: center;

					img {
						display: block;
						width: 80px;
						margin: 0 auto 6px;
					}
				}
			}

			&.with {
				td {
					h3,
					.h3 {
						position: relative;
						font-size: 16px;
						font-weight: 500;
						line-height: 20px;
						padding-left: 27px;
						margin-bottom: 9px;

						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							display: block;
							width: 18px;
							height: 19px;
							background: url('../images/ico_with.svg') no-repeat;
						}
					}

					p {
						padding-left: 27px;
						margin: 0;
					}
				}
			}

			&.without {
				td {
					h3,
					.h3 {
						position: relative;
						font-size: 16px;
						font-weight: 500;
						line-height: 20px;
						padding-left: 27px;
						margin-bottom: 9px;

						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							display: block;
							width: 18px;
							height: 19px;
							background: url('../images/ico_without.svg') no-repeat;
						}
					}

					p {
						padding-left: 27px;
						margin: 0;
					}
				}
			}
		}
	}

	@media (max-width: $adaptive-width-mobile) {
		.col1 {
			display: block;
		}

		.col2,
		.col3 {
			display: none;
		}

		.dotts {
			display: block;
			margin: -40px 0 54px;

			& > li {
				display: inline-block;
				vertical-align: middle;
				opacity: 0.17;
				cursor: pointer;
				margin-left: 12px;

				&:first-child {
					margin-left: 0;
				}

				&.active {
					opacity: 1;
				}

				& > button {
					display: block;
					border: 0;
					background: #2EBBE1;
					width: 10px;
					height: 10px;
					padding: 0;
					cursor: pointer;
					@include radius(10px);
				}
			}
		}
	}

	.search {
		h2,
		.h2 {
			margin-bottom: 29px;

			@media (max-width: $adaptive-width-mobile) {
				font-size: 24px;
				line-height: 1;
			}
		}

		input[type="text"],
		input[type="search"] {
			display: block;
			max-width: 463px;
			width: 100%;
			height: 67px;
			padding: 23px 23px 23px 56px;
			font-size: 18px;
			line-height: 23px;
			background: #fff url('../images/ico_search.svg') no-repeat 21px 50%;
			border: 0;
			margin: 0 auto;
			@include radius(67px);
			@include box-shadow(0px, 8px, 25px, rgba(65, 107, 117, 0.14));
			@extend .transition-all;

			&:hover {
				@include box-shadow(0px, 8px, 25px, rgba(65, 107, 117, 0.22));
				@extend .transition-all;
			}
		}

		form {
			& + .result {
				margin-top: 12px;
			}
		}

		.result {
			display: none;
			max-width: 463px;
			background-color: #fff;
			font-size: 0;
			margin: 0 auto;
			@include box-shadow(0px, 4px, 15px, rgba(59, 104, 114, 0.08));
			@include radius(8px);

			& > .info {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				padding: 20px 20px 28px;
				font-size: 15px;
				color: #000;
				text-align: center;
				margin-left: -1px;
				border-right: 1px solid #dedede;

				& + .info {
					border-left: 1px solid #dedede;
					border-right: 0;
					margin-right: -1px;
				}

				& > h4,
				& > .h4 {
					font-size: 15px;
					font-weight: 400;
					text-transform: none;
					color: #7C7C7C;
					line-height: 20px;
					margin-bottom: 18px;

					&.with-sim {
						&:before {
							content: '';
							display: inline-block;
							vertical-align: middle;
							width: 18px;
							height: 19px;
							background: url('../images/ico_with.svg') no-repeat;
							margin: -6px 8px 0 0;
						}
					}

					&.without-sim {
						&:before {
							content: '';
							display: inline-block;
							vertical-align: middle;
							width: 18px;
							height: 19px;
							background: url('../images/ico_without.svg') no-repeat;
							margin: -6px 8px 0 0;
						}
					}
				}

				& > .price {
					font-size: 20px;
					font-weight: 500;
					line-height: 1.25;
					color: $background-color-darkblue;
					margin-bottom: 8px;
				}

				& > .label {
					margin-bottom: 18px;

					&:last-child {
						margin-bottom: 0;
					}
				} 
			}
		}
	}

	.zones {
		position: relative;

		ul {
			display: block;
			font-size: 0;
			padding-bottom: 15px;

			.slick-list{
				@extend .transition-padding-left;
				@extend .transition-padding-right;

				@media (max-width: $adaptive-width-tablet) {
					padding: 0 5%;
				}
			}

			li {
				display: inline-block;
				vertical-align: top;
				background: #fff;
				font-size: 15px;
				line-height: 1.27;
				color: #000;
				width: 33.33%;
				white-space: normal;
				@include radius(16px);
				@include box-shadow(0px, 4px, 15px, rgba(59, 104, 114, 0.08));
				margin: 0 .25%;

				@media (max-width: $adaptive-width-desktop-small) {
					width: 49.5%;
				}

				@media (max-width: $adaptive-width-mobile) {
					width: 100%;
				}

				h3,
				.h3 {
					padding-top: 31px;
					font-size: 22px;
					font-weight: 700;
					line-height: 28px;
					margin-bottom: 15px;
				}

				p {
					padding: 0 54px 29px; 
					margin: 0;

					@media (max-width: $adaptive-width-mobile) {
						padding: 0 25px 29px;
					}

					& > a {
						color: #2ebbe1;

						&:hover {
							color: lighten(#2ebbe1, 10%);
						}
					}
				}

				.chars {
					font-size: 0;
					white-space: nowrap;
					border-top: 1px solid #DBE6E9;

					.char {
						display: inline-block;
						vertical-align: top;
						width: 50%;
						font-size: 15px;
						white-space: normal;
						padding: 22px 15px 24px;
						border-right: 1px solid #DBE6E9;

						@media (max-width: $adaptive-width-mobile) {
							padding: 22px 9px 22px;
						}

						& + .char {
							border-left: 1px solid #DBE6E9;
							border-right: 0;
							margin-left: -1px;
						}

						.label {
							font-size: 15px;
							color: #838383;
							margin-bottom: 6px;
						}

						.value {
							font-size: 20px;
							font-weight: 500;
							color: $color-text-headers;
						}
					}
				}
			}
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			margin-top: -28px;
			background-repeat: no-repeat;
			width: 20px;
			height: 57px;
			cursor: pointer;
			opacity: 1;
			@extend .transition-opacity;

			&:hover {
				opacity: 0.75;
				@extend .transition-opacity;
			}

			&.slick-prev {
				left: -52px;
				background-image: url('../images/ico_prev.svg');

				@media (max-width: $adaptive-width-desktop-small) {
					left: -30px;
				}
			}

			&.slick-next {
				right: -52px;
				background-image: url('../images/ico_next.svg');

				@media (max-width: $adaptive-width-desktop-small) {
					right: -30px;
				}
			}

			&.slick-disabled {
				cursor: default;
				opacity: 0;
				@extend .transition-opacity;
			}
		}

		.slick-dots {
			display: none !important;

			@media (max-width: $adaptive-width-mobile) {
				display: block !important;
				margin-top: 19px !important;
				margin-bottom: 0 !important;
				padding-bottom: 0 !important;

				& > li {
					opacity: 0.17;

					& > button {
						background-color: #fff;
					}

					&.slick-active {
						opacity: 1;
					}
				}
			}
		}
	}
}

#bl-tariffs-internet {
	.holder {
		padding-left: 2%;
		padding-right: 2%;
		@extend .transition-padding-left;
		@extend .transition-padding-right;

		@media (max-width: $adaptive-width-desktop-small) {
			padding-left: $padding-edges;
			padding-right: $padding-edges;
		}

		@media (max-width: $adaptive-width-tablet) {
			padding-left: 0;
			padding-right: 0;	
		}
	}
}

#bl-sim {
	text-align: center;

	.text {
		font-size: 22px;
		line-height: 1.27;
		max-width: 721px;
		margin: -15px auto 41px;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.form {
		position: relative;
		text-align: left;
		padding: 112px 0 0 560px;

		@media (max-width: $adaptive-width-tablet) {
			padding: 289px 0 0;
			max-width: 351px;
			margin: 0 auto;
		}

		&:before {
			content: '';
			display: block;
			background: url('../images/sim.png') no-repeat;
			width: 628px;
			height: 470px;
			background-size: contain;
			position: absolute;
			top: 0;
			left: -30px;

			@media (max-width: $adaptive-width-tablet) {
				width: 343px;
				height: 238px;
				top: 0;
				left: 50%;
				margin-left: -171px;
			}
		}

		input[type="text"],
		input[type="tel"],
		input[type="email"],
		input[type="number"] {
			width: 100%;
			max-width: 351px;
			height: 56px;
			padding: 14px;
			font-size: 18px;
			margin-bottom: 19px;
		}

		.btn {
			width: 100%;
			max-width: 351px;
			padding-left: 15px;
			padding-right: 15px;
			margin-top: 9px;

			@media (max-width: $adaptive-width-mobile) {
				font-size: 14px;
			}
		}

		.success {
			display: none;
			text-align: center;
			color: #fff;
			max-width: 290px;
			font-size: 15px;
			line-height: 1.47;

			h2,
			.h2 {
				color: #fff;
				margin-bottom: 6px;

				&:before {
					content: '';
					display: block;
					width: 74px;
					height: 74px;
					background: url('../images/ico_done.svg') no-repeat;
					background-size: contain;
					margin: 0 auto 16px;
				}
			}
		}
	}
}

#bl-faq {
	text-align: center;
	margin-bottom: -30px;

	h1,
	.h1 {
		margin-bottom: 53px;

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 24px;
		}
	}

	ul {
		text-align: left;
		display: block;

		& > li {
			display: block;
			padding-right: 55px;
			border-bottom: 1px solid #B9D7E7;

			@media (max-width: $adaptive-width-mobile) {
				padding-right: 50px;
			}

			&:first-child {
				border-top: 1px solid #B9D7E7;
			}

			h3,
			.h3 {
				font-size: 22px;
				font-weight: 400;
				padding: 23px 0;
				margin: 0;
				cursor: pointer;
				position: relative;
				@extend .transition-color;

				@media (max-width: $adaptive-width-tablet-middle) {
					font-size: 20px;
				}

				@media (max-width: $adaptive-width-mobile) {
					padding: 15px 0;
					font-size: 16px;
				}

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 18px;
					right: -55px;
					width: 35px;
					height: 35px;
					background: url('../images/ico_plus.svg') no-repeat;
					cursor: pointer;
					opacity: 1;
					@extend .transition-opacity;

					@media (max-width: $adaptive-width-mobile) {
						width: 26px;
						height: 26px;
						background-size: contain;
						top: 12px;
						right: -50px;
					}
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 18px;
					right: -55px;
					width: 35px;
					height: 35px;
					background: url('../images/ico_minus.svg') no-repeat;
					cursor: pointer;
					opacity: 0;
					@extend .transition-opacity;

					@media (max-width: $adaptive-width-mobile) {
						width: 26px;
						height: 26px;
						background-size: contain;
						top: 12px;
						right: -50px;
					}
				}

				&:hover {
					color: lighten($color-text-headers, 10%);
					@extend .transition-color;

					&:before {
						opacity: 0.8;
						@extend .transition-opacity;
					}
				}
			}

			.answer {
				display: none;
				height: 0;
				font-size: 18px;
				line-height: 1.39;
				color: #29343D;
				max-width: 768px;
				margin: -8px 0 26px;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 14px;
				}
			}

			&.opened {
				h3,
				.h3 {
					font-weight: 500;

					&:before {
						opacity: 0;
						@extend .transition-opacity;
					}

					&:after {
						opacity: 1;
						@extend .transition-opacity;
					}

					&:hover {
						&:after {
							opacity: 0.8;
							@extend .transition-opacity;
						}
					}
				}

				.answer {
					display: block;
					height: auto;
				}
			}
		}
	}
}

footer {
	background-color: $background-color-lightblue;
	text-align: center;
	padding: 45px 0 68px;

	@media (max-width: $adaptive-width-mobile) {
		padding: 20px 0 36px;
	}

	#footer-logo {
		display: block;
		margin-bottom: 16px;

		& > img {
			width: 47px;
		}
	}

	#copyright {
		font-size: 18px;
		color: #29343D;
		margin-bottom: 5px;
	}

	#address {
		font-size: 15px;
		color: #666;
		margin-bottom: 23px;
	}

	#mn-law {
		display: block;

		& > li {
			display: inline-block;
			vertical-align: middle;
			font-size: 15px;
			text-decoration: none;

			@media (max-width: $adaptive-width-mobile) {
				display: block;
				margin-bottom: 4px;
			}

			&:before {
				content: '|';
				color: #29343D;
				padding: 0 12px 0 8px;

				@media (max-width: $adaptive-width-mobile) {
					display: none;
				}
			}

			&:first-child {
				&:before {
					display: none;
				}
			}

			& > a {
				text-decoration: none;
				color: #004A87;

				&:hover {
					color: lighten(#004A87, 10%);
				}
			}
		}
	}
}
.ui-autocomplete {
	background-color: #fff;
	margin-top: 12px;
	@include box-shadow(0px, 4px, 15px, rgba(59, 104, 114, 0.08));
	@include radius(8px);

	& > li {
		display: block;
		padding: 10px 30px;
		font-size: 18px;
		color: #4A555F;

		&:hover {
			background-color: #f7f7f7;
		}

		&:first-child {
			&:hover {
				@include radius-t(8px);
			}
		}

		&:last-child {
			&:hover {
				@include radius-b(8px);
			}
		}
	}
}

.modal-fadeout {
	background-color: #303c48;
	opacity: 0.46;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.modal-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	z-index: 110;
	display: none;

	@media (max-width: $adaptive-width-tablet) {
		min-height: 100%;
	}

	& > .modal {
		display: table-cell;
		vertical-align: middle;
		overflow: hidden;
		line-height: 0;

		@media (max-width: $adaptive-width-tablet) {
			display: table;
			background-color: #fff;
			height: 100%;
			width: 100%;
		}
	}
}
.modal {
	& > .contents {
		background-color: #fff;
		width: 710px;
		margin: 5% auto;
		padding: 30px 33px 36px;
		line-height: 1.43;
		position: relative;
		@include radius(16px);
		@include box-shadow(0px, 4px, 15px, rgba(59, 104, 114, 0.08));

		@media (max-width: $adaptive-width-tablet) {
			width: auto;
			margin: 0;
			height: 100%;
			display: table-cell;
			vertical-align: middle;
			background: none;
		}

		@media (max-width: $adaptive-width-tablet-small) {
			padding: 28px 18px 35px;
		}

		.modal-close {
			position: absolute;
			top: 0px;
			right: -48px;
			cursor: pointer;
			background: url('../images/ico_modal_close.svg') no-repeat center;
			width: 30px;
			height: 30px;
			@extend .rotate-180-start;

			@media (max-width: $adaptive-width-tablet) {
				background-image: url('../images/ico_modal_close_gray.svg');
				background-size: cover;
				width: 25px;
				height: 25px;
				top: 16px;
				right: 16px;
				border: 0;
				@include radius(0);
			}

			@media (max-width: $adaptive-width-mobile) {
				background-size: contain;
				width: 16px; 
				height: 16px;
				top: 12px;
				right: 12px;
			}

			&:hover {
				@extend .rotate-180-end;
			}
		}

		h1,
		.h1 {
			font-size: 36px;
			margin-bottom: 14px;

			@media (max-width: $adaptive-width-mobile) {
				font-size: 24px;
			}
		}

		#modal-countries > & {
			text-align: center;

			ul {
				display: block;
				border-top: 1px solid #ECECEC;
				padding: 25px 33px 0;
				font-size: 15px;
				line-height: 1.4;
				column-count: 4;
				text-align: left;
				column-gap: 18px;
				margin: 0 -33px;

				@media (max-width: $adaptive-width-tablet-small) {
					column-count: 3;
				}

				@media (max-width: $adaptive-width-mobile) {
					column-count: 2;
				}
			}
		}
	}
}

#content {
	font-size: 16px;

	h1,
	.h1 {
		font-size: 42px;
		line-height: 1.1;
	}

	h3,
	.h3 {
		font-size: 28px;
		font-weight: 500;
	}

	p {
		& + h3,
		& + .h3 {
			padding-top: 40px;
		}
	}
}

.conditions {
	.date {
		color: #999;
		margin-bottom: 25px;
	}

	.bold {
		text-transform: uppercase;
		color: #333;
		line-height: 1.4;
		padding: 5px 60px 5px 34px;
		border-left: 5px solid #00a7cf;
		margin-bottom: 50px;

		a {
			color: #333;
			text-decoration: none;
			border-bottom: 1px solid #bbb;
			@extend .transition-opacity;

			&:hover {
				opacity: 0.8;
				@extend .transition-opacity;
			}
		}
	}

	h2,
	.h2 {
		font-size: 26px;
		font-weight: 600;
		padding-top: 30px;
	}

	p {
		& + ul {
			margin-top: -5px;
		}
	}

	ul {
		margin-bottom: 25px;

		& > li {
			position: relative;
			padding-left: 20px;
			margin-bottom: 11px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 7px;
				left: 0;
				width: 8px;
				height: 8px;
				background-color: #00a7cf;
				@include radius(8px);
			}
		}
	}

	ol {
		counter-reset: condCounter;
		margin-bottom: 30px;

		& > li {
			padding-left: 30px;
			margin-bottom: 10px;
			position: relative;

			&:before {
				counter-increment: condCounter;
  				content: counter(condCounter) '.';
  				display: block;
  				position: absolute;
  				top: 0;
  				left: 0;
			}
		}
	}
}